<%= form_with(model: consulta) do |form| %>
  <% if consulta.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(consulta.errors.count, "error") %> prohibited this consulta from being saved:</h2>

      <ul>
        <% consulta.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.date_field :data %>
  </div>

  <div>
    <%= form.label :horario, style: "display: block" %>
    <%= form.text_field :horario %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
